<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand"><img src="assets/images/ARAKU.JPG" alt="LOGO" style="width:30px;" class="rounded-pill"></a>    
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar" area-controls="mynavbar"
    area-expanded="false">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
    
    <button class="btn btn-secondary" routerLink="/addPatient" type="width:100%;text-align:center;">Add</button> &nbsp;
   <button class="btn btn-danger" routerLink="/patientDetails">Patients</button>
   </div>
  </div> 
</nav>

<router-outlet></router-outlet>
